.container {
  position: absolute;
  top: 20px;
  left: 30px;
  right: 30px;
  display: flex;
  gap: 20px;
  padding: 12px 16px;
  border-radius: 8px;
  z-index: 100;

  &.alert {
    border: 1px solid var(--error-icon-color);
    background-color: var(--toast-background);
  }

  &.show {
    display: flex;
    animation: fadeIn 0.5s;
  }

  &.hidden {
    display: none;
  }

  .block {
    display: flex;
    gap: 20px;
    flex: 1;

    .bar {
      width: 1px;
      background-color: var(--error-icon-color);
    }
  }

  .button {
    cursor: pointer;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
